h2 {
  border-top: 1px solid black;
  padding-top: 20px;
}

/* BORING BOXES */
.box {
  background-color: purple;
  border: 1px solid white;
  color: white;
  width: 150px;
  height: 150px;
}

/* ROWS */

.row {
  display: flex;
  flex-direction: row; /* options are row | row-reverse | column | column-reverse; */
  align-items: center; /* centers the items along the cross axis */
  border: 1px solid red;
  background-color: pink;
  gap: 1rem; /* gap between items, set to 1 times the font size of the root element (the html element), which by default is 16px in most browsers */
}

.non-wrapping-row {
  /* nothing to do here */
}

.non-wrapping-row-centered {
  /* center-align the items along the flex direction axis */
  justify-content: center;
}

.non-wrapping-row-right-aligned {
  /* centers the items along the flex direction axis */
  justify-content: flex-end;
}

.non-wrapping-row-space-between {
  /* spaces the items evenly along the flex direction axis */
  justify-content: space-between;
}

.non-wrapping-row-growing .box {
  /* expand elements to fill the width within their container */
  flex-grow: 1; /* default is 0 */
}

/* the following three settings allow the boxes to grow in specific proportions */
.non-wrapping-row-growing-unevenly .box.box1 {
  flex-grow: 1;
}
.non-wrapping-row-growing-unevenly .box.box2 {
  flex-grow: 10; /* allow this element to consume up to ten times as much space as box1 and box3 */
}
/* the following three settings allow the boxes to grow in specific proportions */
.non-wrapping-row-growing-unevenly .box.box3 {
  flex-grow: 1;
}

/* Examples with wrapping of elements */

.wrapping-row {
  /* allow child items to wrap */
  flex-wrap: wrap;
}

.wrapping-row-centered {
  /* allow child items to wrap */
  flex-wrap: wrap;
  /* centers the items along the flex direction axis */
  justify-content: center;
}

.wrapping-row-right-aligned {
  /* allow child items to wrap */
  flex-wrap: wrap;
  /* centers the items along the flex direction axis */
  justify-content: flex-end;
}

.wrapping-row-space-between {
  /* allow child items to wrap */
  flex-wrap: wrap;
  /* centers the items along the flex direction axis */
  justify-content: space-between;
}
