.container {
  width: 481px;
  grid-template-columns: 1fr 2fr; /* relative widths of columns */
  grid-template-areas:
    "header     header"
    "left-nav   main-content"
    "right-rail right-rail"
    "footer     footer";
  /* just placeholder... don't set heights once you have real content on your page */
  grid-template-rows: 1fr 5fr 2fr 1fr; /* relative heights of rows */
}
