.container {
  width: 1261px;
  grid-template-columns: 3fr 1fr; /* relative widths of columns */
  grid-template-areas:
    "header        header"
    "main-content  right-rail"
    "footer        footer";

  /* just placeholder... don't set heights once you have real content on your page */
  grid-template-rows: 1fr 5fr 1fr; /* relative heights of rows */
}
